<table class="profile" summary="Profile information">
<p>Your question has been added!</p>
 <p><strong>Question:</strong> <%= @question.prompt %><br />
 <strong>Answer:</strong> <%= @question.answer %><br />
</table>

