<table class="profile" summary="Profile information">
<p>You have been registered. Enjoy studying!</p>
 <p><strong>Name:</strong> <%= @user.name %><br />
 <strong>Number:</strong> <%= @user.phone_number %><br />
 <strong>Subject:</strong> <%= @user.subject %><br /></p>
</table>

