<% if ((@user.name=="Nyan Cat")||(@user.phone_number=="3141592653")) %>
<center><img src="http://memeclicker.com/img/memes/nyancat/nyancat0.gif" /></center>
<% end %>

<table class="profile" summary="Profile information">
<p>You have been registered. Enjoy studying!</p>
 <p><strong>Name:</strong> <%= @user.name %><br />
 <strong>Number:</strong> <%= @user.phone_number %><br />
 <strong>Subject:</strong> <%= @user.subject %><br /></p>
</table>

